<div style="padding: 40px 20px 20px 0px; background-color: #1e272e;">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-4">
                    <div class="ui-head">HELP</div>
                    <ul>
                        <li>
                            <a routerLink="/about-jaspilite-mobile-app">About us</a>
                        </li>
                        <li>
                            <a routerLink="/faq">FAQ</a>
                        </li>
                        <li>
                            <a routerLink="/faq">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <div class="ui-head">BUSINESS</div>
                    <ul>
                        <li>
                            <a routerLink="/contact-jaspilite-mobile-app-team">Contact Us</a>
                        </li>
                        <li>
                            <a routerLink="/how-to-become-a-partner">Become a Partner</a>
                        </li>
                        <li>
                            <a routerLink="/download">Download Mobile App</a>
                        </li>
                        <li class="navShow">
                            <a href="javascript:void(0);" [routerLink]="['/user']">Social Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <div class="ui-head">FOLLOW US</div>
                <ul class="social-icons">
                    <li>
                        <a target='_blank' href="#"><i id="social-fb"
                                class="fa fa-facebook-square fa-3x social"></i></a>
                    </li>
                    <li>
                        <a target='_blank' href="#"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                    </li>
                    <li>
                        <a target='_blank' href="#"><i id="social-in"
                                class="fa fa-instagram fa-3x fa-3x social"></i></a>
                    </li>
                    <li>
                        <a target='_blank' href="#"><i id="social-ln"
                                class="fa fa-linkedin-square fa-3x social"></i></a>
                    </li>
                    <li>
                        <a target='_blank' href="mailto:info@jaspilite.com"><i id="social-em"
                                class="fa fa-envelope-square fa-3x social"></i></a>
                    </li>
                </ul>
                <div>
                    <p class="copyright" style="padding-left: 38px;">
                        &copy; 2026 <a href="#" style="color:#47a54b;">Jaspilite App</a>, made with all grocery needs
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2" style="padding-top: 40px; padding-bottom: 15px;padding-left: 40px">
        </div>
        <div class="col-md-3" style="padding-left: 40px;">
            <div class="ui-head" style="padding-left: 0px"><span><img src="../../../assets/img/common/minimart-logo.png"
                        style="width: 50px;"></span><span style="padding-left: 5px">JASPILITE</span></div>
            <div>
                <a routerLink="/download" title="Online Grocery Delivery Services">
                    <img src="../../../assets/img/common/playstore.svg"
                        alt="Jaspilite - Grocery & Food Delivery Online Android" class="storeBtns">
                </a>
            </div>
            <div style="margin-top: 15px;">
                <a routerLink="/download" title="Online Food Delivery Services">
                    <img src="../../../assets/img/common/appstore.svg"
                        alt="Jaspilite - Grocery Delivery on the App Store" class="storeBtns">
                </a>
            </div>
        </div>
    </div>
</div>