<div class="navbar-wrapper">
  <nav class="navbar navbar-default navbar-fixed-top navbar-expand-md navbar-scroll header-nav-main" role="navigation">
    <a class="website-logo" routerLink="/"><span>
        <img src="../../../../assets/img/common/minimart-logo.png" alt="jaspilite" />
      </span>
      <span style="position: absolute;top: 24px; left: 60px; font-weight: bold; color: #fff;">Jaspilite</span>
    </a>
    <div class="justify-content-start" id="navbar" style="padding-left: 10px; margin-top: -5px;">
      <ul class="nav navbar-nav navbar-right">
        <li class="navShow"><a class="nav-link page-scroll" routerLink="/online-food-and-grocery-mobile-app">Home</a>
        </li>
        <li class="navShow"><a class="nav-link page-scroll" routerLink="/about-jaspilite-mobile-app">About Us</a></li>
        <li class="navShow"><a class="nav-link page-scroll" routerLink="/contact-jaspilite-mobile-app-team">Contact
            Us</a></li>
        <li class="navShow"><a class="nav-link page-scroll" routerLink="/how-to-become-a-partner">Become a Partner</a>
        </li>
        <li class="navShow"><a class="nav-link page-scroll" routerLink="/jaspilite-jobs">Jobs</a></li>
        <li class="navShow"><a class="nav-link page-scroll" routerLink="/promo-codes">Promo Codes</a></li>
        <li class="navShow"><a class="nav-link page-scroll" routerLink="/faq">FAQ</a></li>

        <li class="menuList">
          <a class="nav-link page-scroll" (click)="continueFun()"><span class="login-border">Admin</span></a>
        </li>
      </ul>
    </div>
  </nav>
</div>